 logPgs {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.user-section {
  background-color: lightcoral;
}

.user-section img {
  border-radius: 50px;
  margin-top: 1rem;
}

.user-section h3 {
  font-size: 2em;
}

.game-search-section {
  background-color: aquamarine;
}

